./detect_LLM_colab_method2
/detect_LLM_colab_method2/fingerprint.pb
/detect_LLM_colab_method2/keras_metadata.pb
/detect_LLM_colab_method2/saved_model.pb
/detect_LLM_colab_method2/variables/variables/variables.data-00000-of-00001
/detect_LLM_colab_method2/variables/variables.data-00000-of-00001
/detect_LLM_colab_method2/variables/variables/variables.index
/detect_LLM_colab_method2/variables/variables.index
/detect_LLM_colab_method2/assets/vocab.txt
